<% include ../partials/header %>
                        <ul class="nav navbar-nav">
                            <li><a id="graphs" href="/">Gráficos</a></li>
                            <li class="active"><a id="states" href="/list">Estados</a></li>
                            <li><a id="log" href="#">Histórico</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

<div>
  <form action="/list/update/<%= data.id %>" method="post">

    Nome: <input type="text" name="name" value="<%= data.name %>" />
    <br />
    PIB: <input type="text" name="pib" value="<%= data.pib %>" />
    <br />
    Habitantes: <input type="text" name="population" value="<%= data.population %>" />
    <br />
    <input type="submit" value="Salvar" />
  </form>
</div>
<br>
<div><a href='/list'>Ver todos</a></div>

<% include ../partials/footer %>
