<% include ../partials/header %>
                        <ul class="nav navbar-nav">
                            <li><a id="graphs" href="/">Gráficos</a></li>
                            <li class="active"><a id="states" href="/list">Estados</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="content">
                <div class="panel panel-default list-panel">
                    <div class="row title-row">
                        <h4>Editar Estado</h4>
                    </div>
                    <div class="row new-table">
                        <form action="create" method="post">
                            <table>
                                <tbody>
                                    <tr>
                                        <th>Nome:</th>
                                        <td><input type="text" name="name" value="<%= data.name %>" /></td>
                                    </tr>
                                    <tr>
                                        <th>População:</th>
                                        <td><input type="text" name="population" value="<%= data.population %>" /></td>
                                    </tr>
                                    <tr>
                                        <th>PIB:</th>
                                        <td><input type="text" name="pib" value="<%= data.pib %>" /></td>
                                    </tr>
                                </tbody>
                            </table>
                            <input type="submit" value="Salvar" class="btn btn-default save-btn" />
                        </form>
                    </div>
                    <div class="back-btn">
                        <a href='/list' class="back-btn"><span class="glyphicon glyphicon-chevron-left"></span>Voltar</a>
                    </div>
                </div>
            </div>

<% include ../partials/footer %>
