<% include ../partials/header %>

<div>
  <form action="create" method="post">
    Nome: <input type="text" name="name" value="" />
    <br />
    PIB: <input type="text" name="pib" value="" />
    <br />
    Habitantes: <input type="text" name="population" value="" />
    <br />
    <input type="submit" value="Salvar" />
  </form>
</div>
<br>
<div><a href='/'>Ver todos</a></div>

<% include ../partials/footer %>
