<% include ../partials/header %>
                        <ul class="nav navbar-nav">
                            <li><a id="graphs" href="/">Gráficos</a></li>
                            <li class="active"><a id="states" href="/list">Estados</a></li>
                            <li><a id="log" href="#">Histórico</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

<div>
  <%= data.name %><br />
  <%= data.pib %><br />
  <%= data.population %><br />
</div>
<br>
<div><a href='/list'>Ver todos</a></div>

<% include ../partials/footer %>
