<% include ../partials/header %>

<div>
  <%= data.name %><br />
  <%= data.pib %><br />
  <%= data.population %><br />
</div>
<br>
<div><a href='/'>Ver todos</a></div>

<% include ../partials/footer %>
